<div class="footer row">
  <div class="twelve columns footer-icons">
    <a href="https://www.linkedin.com/in/alex-boulanger-113b9a178/" class="fab fa-linkedin"></a>
    <a href="mailto:alexbakerdeveloper@gmail.com" class="far fa-paper-plane"></a>
    <a href="https://github.com/alexlabrioche?tab=repositories" class="fab fa-git-square"></a>
  </div>
  {{!-- <span class="twelve columns footer-credit">Made by Alex Baker © 2019</span> --}}
</div>