<div class="gallery container">
  {{> nav}}
  <h4 id="gallery-text">Sometime, when I travel</h4>
  <div id="gallery-content">
    <div class="row">
      <img class="four columns" src="/img/gallery/3x4hanoi01.jpg">
      <img class="four columns" src="/img/gallery/3x4hanoi02.jpg">
      <img class="four columns" src="/img/gallery/3x4hanoi03.jpg">
    </div>
    <div class="row">
      <img class="six columns" src="/img/gallery/4x3hanoi01.jpg">
      <img class="six columns" src="/img/gallery/4x3hanoi03.jpg">
    </div>
    <div class="row">
      <img class="four columns" src="/img/gallery/3x4hongkong01.jpg">
      <img class="four columns" src="/img/gallery/3x4hongkong02.jpg">
      <img class="four columns" src="/img/gallery/3x4hongkong03.jpg">
    </div>
    <div class="row">
      <img class="twelve columns"src="/img/gallery/2x1filipin01.jpg">
    </div>
    <div class="row">
      <img class="six columns"src="/img/gallery/4x3filipin01.jpg">
      <img class="six columns"src="/img/gallery/4x3filipin02.jpg">
    </div>
    <div class="row">
      <img class="four columns" src="/img/gallery/3x4bali01.jpg">
      <img class="four columns" src="/img/gallery/3x4bali02.jpg">
      <img class="four columns" src="/img/gallery/3x4bali03.jpg">
    </div>
    <div class="row">
      <img class="twelve columns"src="/img/gallery/2x1bali01.jpg">
    </div>
    <div class="row">
      <img class="six columns"src="/img/gallery/4x3ladakh01.jpg">
      <img class="six columns"src="/img/gallery/4x3ladakh02.jpg">
    </div>
    <div class="row">
      <img class="four columns"src="/img/gallery/3x4ladakh01.jpg">
      <img class="four columns"src="/img/gallery/3x4ladakh02.jpg">
      <img class="four columns"src="/img/gallery/3x4ladakh03.jpg">
    </div>
    <div class="row">
      <img class="twelve columns"src="/img/gallery/2x1ladakh01.jpg">
    </div>
  </div> 
</div>
