<div class="container">
  <div class="home row">
    <div class="home-content">
      <div class="four columns">
        <a href="/resume"><h3>Who I am</h3></a>
      </div>
      <div class="four columns">
        <a href="/projects"><h3>Projects</h3></a>
      </div>
      <div class="four columns">
        <a href="/gallery"><h3>Photos</h3></a>
      </div>
    </div>
  </div>
  {{> footer}}
</div>