<div class="container">
  <div class="row">
    {{> nav}}
    <div class="intro twelve columns">
      <h1 id="intro-title" class="twelve columns">&#9996;&#65039; Hi, I'm Alex</h1>
    </div>
  </div>
  {{> footer}}
</div>

