<div class="resume container">
  {{> nav}}
  <div class="row">
    <div class="resume-main twelve columns">
      <h3 id="resume-title">Alex Baker</h3>

      <div class="row">

        <div class="three columns">
          <img src="/img/resume/profile.jpg" alt="profile-picture">
        </div>

        <div class="nine columns">
          <h4>Junior Full-Stack Developer</h4>
          <p>
            After ten years working as an hair colorist in high ends salons. I decided to quit my job, travel a bit and reconnect with my first passion: IT and new technologies.<br>
          </p>
          <p>
            You can see my work as a student on 
            <a href="https://github.com/alexlabrioche?tab=repositories" class="resume-link-intext">
              Github 
              <a href="https://github.com/alexlabrioche?tab=repositories" class="fab fa-git"></a>
            </a>
          </p>
          <p>
            Please feel free to send me an email if you want details or just a chat: <br>
            <a href="mailto:alexbakerdeveloper@gmail.com" class="far fa-paper-plane">
              <a href="mailto:alexbakerdeveloper@gmail.com" class="resume-link-intext"> 
                alexbakerdeveloper@gmail.com
              </a>
            </a>
          </p>
          <p>
            You can also contact me via 
            <a href="https://www.linkedin.com/in/alex-boulanger-113b9a178/" class="resume-link-intext">
              LinkedIn 
              <a href="https://www.linkedin.com/in/alex-boulanger-113b9a178/" class="fab fa-linkedin"></a>
            </a> 
            and see in details my career.
          </p>
        </div>
      </div>

    </div>
    <div class="resume-sub twelve columns">
      <div class="sub-section four columns">
        <div class="img-container">
          <img src="/img/resume/technologies.png" alt="">
        </div>
        <h5>Technologies</h5>
        <p>HTML, CSS, Javascript</p>
      </div>
      <div class="sub-section four columns">
        <div class="img-container">
          <img src="/img/resume/frameworks.png" alt="">
      </div>
        <h5>Frameworks</h5>
        <p>NodeJS, React, React Native, MongoDb, Sass, Git</p>
      </div>
      <div class="sub-section four columns">
        <div class="img-container">
          <img src="/img/resume/softwares.png" alt="">
        </div>
        <h5>Softwares</h5>
        <p>Photoshop, Lightroom, Premiere</p>
      </div>
    </div>
  </div>
</div>